<div class="row">
    <div class="col-12 text-center my-5">
        <h1 class="h3 mb-1 fw-normal">Tasty Treats</h1>
        <p class="font-size-11 text-muted mb-3">Inquiries</p>
    </div>
    <div class="col-12 p-5">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Subcribed to newsletter</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inquiry of returnedArray">
                                <td scope="row">{{inquiry.email}}</td>
                                <td>{{inquiry.name}}</td>
                                <td>{{inquiry.isSubscribe ? 'Yes' : 'No'}}</td>
                                <td><button type="button" class="btn btn-primary btn-sm rounded" (click)="openModal(details, inquiry)"> See Message </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer" *ngIf="inquiries.length > 0">
                <pagination [totalItems]="inquiries.length" (pageChanged)="pageChanged($event)"></pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #details>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Inquiry Details</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row p-3">
        <div class="col-12 mb-3">
            <p class="font-size-10 text-muted">Email</p>
            <h5>{{inquiry.email}}</h5>
        </div>
        <div class="col-12 mb-3">
            <p class="font-size-10 text-muted">Name</p>
            <h5>{{inquiry.name}}</h5>
        </div>
        <div class="col-12 mb-3">
            <p class="font-size-10 text-muted">Subscribed to newsletter?</p>
            <h5>{{inquiry.isSubscribe ? 'Yes' : 'No'}}</h5>
        </div>
        <div class="col-12 mb-3">
            <p class="font-size-10 text-muted">Message</p>
            <p>{{inquiry.message}}</p>
        </div>
    </div>
  </div>
</ng-template>